<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
=======
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
>>>>>>> 0c09cf7329e1f8425f4ad9bce7c8bb8e243234f7
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <!-- NOTEMOS QUE ESTA LLAMADA BUSCA EL PARTIAL Y LO "INSERTA" EN EL LUGAR DEL RENDER, BUSCANDOLO EN LAYOUT CON EL NOMBRE DE _shim.html.erb, DATE CUENTA DE LA CONVENCION (_ DECLARA PARCIALES Y LAS ENCUENTRA DE UN VISTAZO)  -->
    <!-- El codigo siguiente se incluye para navegadores inferiores a internet explorer 9 -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!-- NOTEMOS QUE ESTA LLAMADA BUSCA EL PARTIAL Y LO "INSERTA" EN EL LUGAR DEL RENDER, BUSCANDOLO EN LAYOUT CON EL NOMBRE DE _header.html.erb, DATE CUENTA DE LA CONVENCION (_ DECLARA PARCIALES Y LAS ENCUENTRA DE UN VISTAZO)  -->
      <!-- <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   '#' %></li>
              <li><%= link_to "Help",   '#' %></li>
              <li><%= link_to "Log in", '#' %></li>
            </ul>
          </nav>
        </div>
      </header> -->
    <div class="container">
<<<<<<< HEAD
      <%= yield %>
    <%= render 'layouts/footer' %>
=======
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
>>>>>>> 0c09cf7329e1f8425f4ad9bce7c8bb8e243234f7
    </div>
  </body>
</html>